{% extends 'base.html' %}
{% load static %}


{% block title %} {{ user.username }} - {{ folder.name }} {% endblock title %}
{% block other_css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
{% endblock other_css %}
{% block navbar %}
  <a class="navbar-brand ml-4 text-dark" href="{% url 'cloud:profile' user.id %}"><img src="{% static 'img\ic-users-more.png' %}"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-4 ml-4">
        <a class="nav-link text-dark" href="{% url 'cloud:dashboard' user.id %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item mr-4">
      </li>
    </ul>

      <span class="navbar-text ml-4 mr-4">
       <nav class="nav nav-pills flex-column flex-sm-row" style="width:auto;">
          <a class="flex-sm text-sm-center nav-link active mr-4 bg-danger" href="{% url 'cloud:log_out' user.id %}">Log Out</a>
        </nav>
    </span>
      </nav>
</div>
<hr>
{% endblock navbar %}


{% block content %}
<!--
<div class = "card mt-4 bg-white" style="text-align:center; width:auto;">
    <h1 class="mt-4 display-2 lead"> Login </h1>
    <br>
    <div class="row align-items-center justify-content-center mt-4">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="col-sm-12 mb-2 my-auto-mb-4">
                     <img src="{% static 'img/Icon_user.svg' %}">
                    <input type="text" name = "username" placeholder= "Your name" required autofocus>
                </div>
                <div class="col-sm-12 mt-4 my-auto">
                    <img src="{% static 'img/ic-sport-winner.png' %}">
                    <input type="password" name = "password" placeholder= "Password" required>
                </div>
                {% if error_message %}
                    <div class="alert alert-danger mt-4" role="alert"><img src="{% static 'img/ic-emoji-sad.png' %}"></div>
                {% endif %}
                    <button class="btn btn-primary mb-4 mt-4" type="submit" name="action"> Go </button>
            </form>
        </div>

    <p><i> Just arriving?  </i></p>
    <p><a href=""> Signup </a> </p>

</div>
-->

<br><br>
<h1 class="mb-2 display-4"> {{ folder.name}} </h1>
{% if folder.description %}
    <h5> {{ folder.description }} </h5>
{% else %}
{%  endif %}
<h4> <small>{{ folder.files.count }} file(s) </small></h4>
<br>
<hr>
<br><br>
<b class="lead text-success"><b>Add files here</b></b>
    <form class="mt-3 mb-4 form-inline" action="#" method="POST" enctype="multipart/form-data" style="width:20em;">
      {% csrf_token %}
      <input class="mb-3" type="file" name="document" >
      <button class="btn btn--radius btn-danger" type="submit" > Upload file </button>
    </form>

<br><br>
<img src="{% static 'img/ic-devices-camera.jpg' %}" height="33px" width="33px" class="mb-2 mr-2 text-success">Click on the camera icon to view supported files<br>
<img src="{% static 'img/ic-actions-download.jpg' %}" height="33px" width="33px" class="mb-2 mr-2 text-success"> Click on files to view or download them

{% if folder.files.all %}
    <div class="card-deck" style="width: 88em; height:14em">
        {% for file in folder.files.all %}
        <div class="bg-white p-t-100 p-b-10 font-roboto" style="width: 22em">
          <div class="card card-1" style="height: 22em">
              <a href="/media/{{ file.name }}">
              {% if file.extension in supported_format %}
              <!-- <img src="/media/{{ file.name }}" class="card-img-top" alt="..." height="33px" width="33px"> -->
              <a href="/media/{{ file.name }}"> <img src="{% static 'img/ic-devices-camera.jpg' %}" height="33px" width="33px"></a>
              {% else %}
              {% endif %}
            <div class="card-body">
                <h4 class="card-title mt-4" style="text-align:center"><b>{{ file.shortened_name }}</b></h4>
                <h5 style="text-align:center"> '{{ file.extension }}' file </h5>
            {% if file.size <= 0.00 %}
              <p class="card-text" style="text-align:center"><small class="text-muted"> very small size </small></p>
            {% else %}
                <p class="card-text" style="text-align:center"><small class="text-muted"> {{ file.size }} mb</small></p>
            {% endif %}
            </div>
              </a>
              <form method="POST" action="#" class="row align-items-center justify-content-center">
                {% csrf_token %}
                    <input type="hidden" name="delete" value="{{ file.id }}">
                        <button style="text-align:center" type="submit" class=" btn btn--radius btn-danger"> Delete </button>
            </form>

        <br> <br>
            </div>
            <br>
          </div>
        {% endfor %}

    </div>

{% else %}
<br><br><br><br><br><br>
    <p class="lead text-danger" style="text-align:center"> Well, nothing is here yet, add files above </p>
{% endif %}

{% endblock content %}


{% block other_js %}
<!-- Jquery JS-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>
{% endblock other_js %}
